/* fonts */
@import "./fonts.css";

/* variables */
@import "./variables.css";

/* initial-style */
@import "./initial-style.css";

/* main-styles */

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1168px;
    margin-left: auto;
    margin-right: auto;
}